<h1 class="display-4">
  Face detection
</h1>
<p class="lead">
  This service demonstrate Autoscaling solution based on <a href="https://aws.amazon.com/lambda/?nc1=h_ls">AWS Lambda</a>.
</p>

<p>
  As business value this demo use <a href="https://aws.amazon.com/rekognition/">AWS Rekgnition</a> for face detection.
</p>
